/* Die Einbindung erfolgt mit defer => true */
.withContentToggler button
{
	margin-bottom:5px;
}
.togglerContent
{
	border:1px solid black;
	padding:10px 10px 5px 10px;
}
.longdesription
{
	margin-bottom:5px;
	padding-top:5px;
	border-top:1px solid blue;
}
section#content
{
	padding-bottom:200px;
}
button.contentToggler
{
	margin-top:3px;
}
.borderedImg
{
	border:2px solid gray;
}
.subform-repeatable-group .controls input[type="url"]
{
	min-width:95%;
}