pre.pre4logOutput
{
	white-space: pre-wrap;
	padding: 0.25rem;
	font-size: 1em;
	color: black;
	margin: .5rem 0;
	border: 1px solid red;
}

/* Die Einbindung erfolgt mit defer => true */
.withContentToggler button
{
	margin-bottom:5px;
}
.togglerContent
{
	border:1px solid black;
	padding:10px 10px 5px 10px;
}
.longdesription
{
	margin-bottom:5px;
	padding-top:5px;
	border-top:1px solid blue;
}
section#content
{
	padding-bottom:200px;
}
button.contentToggler
{
	margin-top:3px;
}
.borderedImg
{
	border:2px solid gray;
}
/*.subform-repeatable-group .controls input[type="text"]
{
	min-width:95%;
}*/
.extended-width
{
	min-width:90%;
}

/* Joomla 4 */
#fieldset-settings .column-count-lg-3,
#fieldset-settings .column-count-md-2
 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}
